# miscelaneous
botBook.pdf
chi2018-chaves.pdf
*.DS_Store
pwd.txt
mail_from_AlexisGerome15mar.txt
oracle_env_info.txt
*/Oracle_workshop
/botTutorial/bots_collateral
/sqli
/botTutorial/exportedBotTemplate
/botTutorial/pastaBotBackups
/electionBot_sBox/googleAPIKEY_GBarthelet.json
/electionBot_sBox/GBarthelet_chatbot/backendFct
/electionBot_sBox/webhook
/electionBot_sBox/GBarth_15apr/conversation_logs
/electionBot_sBox/GBarth_15apr/backends
/electionBot_sBox/GBarth_15apr/Testlandmandbot1/
/electionBot_sBox/GBarth_15apr/Testlandmandbot2/
/electionBot_sBox/GBarth_15apr/Testlandmandbot3/
.ipynb_checkpoints
surveyResults.xls